<header class="app-header">
  <div class="logo">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/TryAllLogo.jpg" alt="TryAll Logo" />
  </div>

  <nav class="nav-links">
    <ul>
      <li>
        <button class="nav-chip">
          <i class="fas fa-home"></i>
          Volver al inicio
        </button>
      </li>
      <li>
        <div class="user-chip">
          <img
            src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
            alt="Usuario"
          />
          <span>{{ username }}</span>
        </div>
      </li>
    </ul>
  </nav>
</header>
