<!-- header.component.html -->
<header class="app-header">
  <div class="logo">
    <button mat-icon-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
    <img src="../assets/TryAllLogo.jpg" alt="TryAll Logo">
  </div>
  <nav class="nav-links">
    <ul>
      <li><mat-chip-set>
        <mat-chip>
            <img 
            matChipAvatar
            src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
            alt="Photo of a Shiba Inu"
            />
            {{username}}
        </mat-chip>
      </mat-chip-set></li>
    </ul>
  </nav>
</header>