/* header.component.scss */
$app-header-bg: white;    // Usando una variable para el fondo
$app-link-color: black;  // Color para los enlaces

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: $app-header-bg;
  color: $app-link-color;

  .logo img {
    height: 6rem;
  }

  .nav-links {
    ul {
      list-style: none;
      display: flex;
      gap: 15px;
    }

    a {
      color: $app-link-color;
      text-decoration: none;
      transition: color 0.3s;

      &.active {
        font-weight: bold;
      }

      &:hover {
        color: #00aaff; // Cambia el color al pasar el mouse
      }
    }

    mat-chip-set {
      .mat-mdc-chip {
        height: 3rem;
        font-size: 1rem;
        padding: 0.5rem 1rem;
      }

      .mat-mdc-chip-avatar {
          width: 2.5rem;
          height: 2.5rem;

        }
    }
  }

  .user-actions {
    button {
      background-color: #008CBA;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #005f73;
      }
    }
  }
}
