<!-- header.component.html -->
<header class="app-header">
  <div class="logo">
    <img src="../assets/TryAllLogo.jpg" alt="TryAll Logo">
  </div>
  <nav class="nav-links">
    <ul>
      <li><mat-chip-set>
        <mat-chip style="background-color: #A4DCFC;">
          <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
          Volver al inicio
        </mat-chip>
        <mat-chip>
            <img 
            matChipAvatar
            src="https://material.angular.dev/assets/img/examples/shiba1.jpg"
            alt="Photo of a Shiba Inu"
            />
            {{username}}
        </mat-chip>
      </mat-chip-set></li>
    </ul>
  </nav>
  
</header>
 