$app-dashboard-bg: #548CB4;  // Puedes cambiar este color por el que prefieras

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.body {
  background-color: $app-dashboard-bg;
  color: black;
  flex: 1;
  margin: 0;
  padding: 0;
}