/* login.component.scss */
:host {
    display: block;
    height: calc(100vh - 10vh); /* Asegura que el componente ocupe toda la altura de la ventana */
    background: linear-gradient(
      to bottom,
      #A4DCFC 0%,
      #A4DCFC 25%,
      #548CB4 25%,
      #548CB4 50%,
      #3C5C74 50%,
      #3C5C74 75%,
      #1A1A2E 75%,
      #1A1A2E 100%
    );
    
    
  }
  

.contenedor {
    background: rgba(255, 255, 255, 0.8);  /* Fondo semi-transparente */
    padding: 30px;
    border-radius: 10px;
    width: 320px;  /* Ancho fijo para el formulario */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    margin: 0 auto;  /* Centrar el formulario en la página */
    margin-top: 10 auto;
    
  }

.login-btn {
    width: 100%;
    padding: 10px;
    background-color: #548CB4;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
