<div class="sensor-data-container">
  <section class="sensor-card">
    <div class="header-with-icon">
      <i class="fas fa-tint"></i>
      <h2>SENSOR HUMEDAD</h2>
    </div>
    <div class="sensor-details">
      <p>
        <span class="label">VALOR RAW:</span>
        <span class="value">{{ datoHumedadReal }}</span>
      </p>
      <p>
        <span class="label">PORCENTAJE:</span>
        <span class="value">{{ datoHumedadReal }}%</span>
      </p>
    </div>
  </section>

  <section class="sensor-card">
    <div class="header-with-icon">
      <i class="fas fa-thermometer-half"></i>
      <h2>SENSOR TEMPERATURA</h2>
    </div>
    <div class="sensor-details">
      <p>
        <span class="label">VALOR:</span>
        <span class="value">{{ datoTemperaturaReal }}</span>
      </p>
      <p>
        <span class="label">TEMPERATURA:</span>
        <span class="value">{{ datoTemperaturaReal }} °C</span>
      </p>
    </div>
  </section>

  <section class="sensor-card">
    <div class="header-with-icon">
      <i class="fas fa-water"></i>
      <h2>SENSOR FLUJO</h2>
    </div>
    <div class="sensor-details">
      <p>
        <span class="label">VALOR:</span>
        <span class="value">{{ datoFlujoReal }}</span>
      </p>
      <p>
        <span class="label">FLUJO:</span>
        <span class="value">{{ datoFlujoReal }} L/s</span>
      </p>
    </div>
  </section>
  <button (click)="guardarLecturas()" class="btn btn-primary">
    Guardar lecturas
  </button>


</div>