<div>
  <app-header (toggleSidenavEvent)="drawer.toggle()"></app-header>

  <mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over" >
      <mat-nav-list>


<!--     PROGRAMATICA     -->
        <!-- <a mat-list-item (click)="navigateToDashboard()">Dashboard</a> -->
        <a mat-list-item (click)="navigateToMonitoreo()">Monitoreo</a>
        <a mat-list-item (click)="navigateToTEST()">TEST</a>
        <!-- <a mat-list-item (click)="navigateToMyMap()">My Map</a> -->
        <a mat-list-item (click)="navigateToControlFLujo()">Control de Flujo</a>


      </mat-nav-list>
    </mat-drawer>

    
    <mat-drawer-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>